@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Отключаем перенос текста и добавляем многоточие для длинных названий задач */
.gantt-task-react .task-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Добавляем горизонтальный скролл для списка задач на мобильных устройствах */
.gantt-task-react {
  overflow-x: auto;
}

